/* #region Alap beállítások*/
/* 1. Reset/globális */
* { box-sizing: border-box; }

/* 2. Saját színek, typography */
:root {
  --primary: #3498db;
  --dark: #2c3e50;
}

/* 3. Bulma override (Bulma után töltődik be) */
.navbar { background: var(--dark); }
.button.is-primary { background: var(--primary); }/* 1. Reset/globális */
* { box-sizing: border-box; }

/* 2. Saját színek, typography */
:root {
  --primary: #3498db;
  --dark: #2c3e50;
}

/* 3. Bulma override (Bulma után töltődik be) */
.navbar { background: var(--dark); }
.button.is-primary { background: var(--primary); }
/*#endregion*/


footer.footer{
  display: flex;
  flex-direction: column;
  margin-top: auto
}

hr.divider {
  border: 0;
  border-top: 1px solid #9c9c9c;   /* szín, vastagság */
  margin: 1.5rem 0;             /* függőleges távolság */
}
.result-table td:first-child,
.result-table th:first-child {
  padding-right: 4rem;
  vertical-align: middle;
}
